* {
    font-family: Verdana, sans-serif;
}

h1{
    font-family : "Marko One", Georgia;
    font-size:1.5em;
    color : #993399;
    text-align: center;
    text-shadow: .2em .2em violet;
}

h2{
    font-size: 1em;
    color : #FF6347;
    text-transform: uppercase;
    text-align : center;
}

span.price {
    font-family: Georgia;
}

p.warning{
    color : #FF0000;
    
}

strong{
    color:#FF6347;
    font-style : italic;
}

span.label{
    color : #808080;

}

#div1{
    text-align: center;
}

li{
    list-style-type: none;
}

li.c1{
    list-style-type: lower-roman;
}
li.c2{
    list-style-type: circle;
}
li.c4{
    list-style-image: url(C:/Users/montc/OneDrive/Documents/COURS/WEB/TP1webstatique/TP1webstatique/images/bull.png); 
}

#info{
    color: #D3D3D3;
    font-style: italic;  
}

dt{
    font-weight: bold;
    color :#CC6600;
}

* {
    background-color: #D2DC9D;
}

/*#div1{
    background-clip: border-box;
    background-color: white;;
    opacity: 0.5;
}*/

a { text-decoration: none; }
a:link { color: #993399; }
a:visited { color:#937393; }
a:focus { color:  #C700F2; background-color: #FFC0CB; }
a:hover { color:  #C700F2; background-color: #FFC0CB; }
a:active { color: red; background-color: #ffd9d9; }